.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
  .modal-title {
    font-size: 15px;
  }
  .custom-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
.custom-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  .custom-complete-button {
    background-color: rgba(29, 181, 190, 50%);
    color: white;
    border: none;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #1db5be;
    }
  }
}
.exercise-list {
  border: solid 1px #e9ecef;
}
.exercise-item {
  border-bottom: 1px solid #e9ecef;
  &.selected {
    background-color: #e9ecef;
  }
}
.sidebar {
  width: 130px;
  text-align: center;
  .sidebar-item {
    padding: 10px;
    cursor: pointer;
    &.selected {
      background-color: #e9ecef;
    }
  }
}
.content {
  flex: 1;
  border: none;
}
