.progress-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .spantime {
    font-size: 14px;
    color: #666;
  }
  .remain-step {
    font-size: 14px;
    color: #666;
  }
}

.progress {
  height: 10px;
  .progress-bar {
    background-color: #17a2b8;
  }
}
