.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 세로축 정렬 */
  gap: 20px; /* 검색창과 아이템 간의 간격을 조정합니다. */
  margin-top: 40px;
}

.find-mentee-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 아이템 간의 간격을 조정합니다. */
  justify-content: center; /* 가로축 방향으로 가운데 정렬 */
  align-items: center; /* 세로축 방향으로 가운데 정렬 */
}
