#navbar-wrap {
  font-weight: bold;
  .navbar-logo {
    border-radius: 5px;
    padding: 10px 50px;
    background: #1db5be;
    color: #fff;
  }
  .SignUpBtn {
    background: #1db5be;
    color: white;
    color: white;
  }
  .SignInBtn {
    background: #1db5be;
    color: white;
  }
}
