.gray-button {
  background-color: #d9ecef; // lighter gray
  border-radius: 5%;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  text-align: left; // Align text to the left
  padding-left: 10px; // Add some padding to the left for better alignment
}
